/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {

	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

body {
	font-family: 'Work Sans';
	font-size: 14px;
	margin-top: 0px;
}


header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 0px;
}

header button {
	border: 1px solid #ffffff;
	border-radius: 18px;
	padding: 7px;
	background-color: white;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 12px;
	color: rgb(0, 0, 0);
	min-width: 3%;
	margin-left: 2%;
}

header button:hover {
	color: rgb(0, 0, 0);
	background-color: #ffffff;
	border: 1px solid #ffffff;

}

.en_tete_mode_edition a {
	text-decoration: none;
	color: white;
	margin-left: 4px;
}

.en_tete_mode_edition:hover a {
	text-decoration: underline;
	color: white;
	margin-left: 4px;
}

.en_tete_mode_edition {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: black;
	height: 45px;
}

.en_tete_mode_edition i,
p {
	display: inline;
}

.en_tete_mode_edition i {
	color: white;
}

.en_tete_mode_edition p {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 12px;
	margin-left: 4px;
}

.en_tete_principale {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 2%;
}

main,
footer {
	max-width: 1140px;
	margin: auto;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	text-decoration: underline;
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 5px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	width: 80%;
	margin-left: 4%;
}

#introduction article {
	flex: 1;
	margin-right: 4%;
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	margin-bottom: 4%;
}


#introduction h2 {
	margin-bottom: 1em;
	margin-top: 1%;
}

#introduction p {
	margin-bottom: 0.5em;
}


.photo_icone_modif {
	display: flex;
	flex-direction: column;
	margin-top: 0%;
	margin-left: 0%;
}

.modif_profil {
	margin-left: 4%;
	margin-top: 1%;
}


.modif_profil button {
	text-decoration: none;
	color: black;
	border: none;
	background-color: white;
	padding-left: 0px;
}

.modif_profil button:hover {
	text-decoration: underline;
	color: black;
	background-color: white;
	border-color: white;
}

.modif_profil p {
	font-family: 'Work Sans';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	margin-left: 4px;
	display: inline;
}


.modif_texte_presentation {
	display: flex;
	flex-direction: column;
	margin-top: 0%;
	margin-left: 0%;
}


.modif_texte_présentation button {
	text-decoration: none;
	color: black;
	border: none;
	background-color: white;
	padding-left: 0px;
}

.modif_texte_présentation button:hover {
	text-decoration: underline;
	color: black;
	background-color: white;
	border-color: white;
}

.modif_texte_présentation p {
	font-family: 'Work Sans';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	margin-left: 4px;
	display: inline;
}

.icon-modif-projets {
	display: inline;
	margin-left: 0.5%;

}

.en_tete_portfolio {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.en_tete_portfolio h2 {
	margin-top: 0px;
	margin-bottom: 60px;
}

.modif_projets {
	display: inline;
	margin-left: 1.5%;
}

.portfolio button {
	text-decoration: none;
	color: black;
	background-color: white;
	border-color: white;
	padding-left: 0px
}

.portfolio button:hover {
	text-decoration: underline;
	color: black;
	background-color: white;
	border-color: white;
}

.modif_projets p {
	font-family: 'Work Sans';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	margin-left: 4px;
}

.portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 15%;
}


.filtres-projets {
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	justify-content: center;
	gap: 0.5%;
}

#by_default {
	background-color: #1D6154;
	cursor: pointer;
	color: white;
}

button {
	border: 1px solid #1D6154;
	border-radius: 18px;
	padding: 8px;
	background-color: white;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 12px;
	color: #1D6154;
	min-width: 6%;
}

button:hover {
	background-color: #1D6154;
	cursor: pointer;
	color: white;
}

.btn-filtres:focus {
	background-color: #1D6154;
	cursor: pointer;
	color: white;
}

#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal-container {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	
}

.modal-container.active {
	visibility: visible;

}

.overlay {
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333333d3;
	margin: 0px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal-container.active .overlay {
	opacity: 1;
}

.modal {
	opacity: 0;
	width: 40%;
	height: 85%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background: #fff;
	border-radius: 5px;
	top: 6%;
	left: 28%;
	position: fixed;
	align-items: center;
	display: grid;
	grid-template-rows: 25px 30px 1fr 150px;
	align-items: start;
}

.modal-container.active .modal {
	opacity: 1;
}

.modal_header_button {
	display: flex;
	flex-direction: row;
	gap: 85%;
	justify-content: center;
}

.modal_header_button button {
	padding: 0px;
	background-color: rgb(255, 255, 255);
	border: 0px;


}

.modal_header_button button:hover {

	background-color: rgb(255, 255, 255);
	border: 0px;
	text-decoration: none;
}

.modal_header_title h3 {
	text-align: center;
	font-size: 22px;
	margin: 0px;
}

.modal_body {
	height: 350px;
	padding: 20px 100px;
}

.modal_footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	border-top: 1px solid #cccccc;
	margin-top: 25px;
	margin-bottom: 20px;
	width: 20%;
	padding: 10px 30%;
}

.modal_btn_ajout button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.modal_btn_ajout button:hover {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
	margin: 2em;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

.modal_btn_supprimer button {
	background-color: white;
	font-size: 12px;
	color: #B1663C;
	margin-top: 0px;
	margin-bottom: 5px;
}

.modal_btn_supprimer button:hover {
	background-color: white;
	font-size: 12px;
	color: #B1663C;
	margin-top: 0px;
	margin-bottom: 5px;
	text-decoration: underline;
	border: none;
}

.modal_gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	grid-row-gap: 10px;
}

.icon_retour{
	visibility: hidden;
}

.image_icone {	
	width: 19%;	
	position: relative;

}

.icone {
	border: none;
	background: transparent;
	z-index: 2;
	position: absolute;
	padding: 4px;
	right: 2px;
	top: 1px;
	cursor: pointer;
}



.modal_gallery img {
	grid-row: 1;
	z-index: 1;
	width: 100%;
}

.btn_editer {
	grid-row: 2;
	font-size: 12px;
	font-family: 'Work sans';
	font-weight: 400;
	padding-top: 0px;
	text-align: left;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 0;
}

.fond_ajout_projet {
	display: flex;
	flex-direction: column;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 190px;
	background-color: #E8F1F6;
}

.btn_ajout_projet {
	margin-top: 30px;
}

.champs_ajout_projet {
	display: flex;
	flex-direction: column;
	width: 127%;
}

.titre_ajout_projet{
background-color: none;
box-shadow: none;
}

#titre_projet {
	margin-bottom: 20px;
}

.label {
	margin-top: 20px;
}

.champs_ajout_projet 
select, input {
	width: 78%;
	height: 35px;
	margin-top: 15px;
	border: none;
	background-color: white;
	box-shadow: 2px 4px 8px 3px rgb(241, 240, 240);
}

.fond_ajout_projet button {
	background-color: #CBD6DC;
	color: #306685;
	border: none;
	border: 15px;
	width: 50%;
	height: 20%;
	margin-top: 5%;
}


.fond_ajout_projet i {
	font-size: 55px;
	color: #B9C5CC;
	margin-top: 10%;
}

.fond_ajout_projet button:hover {
	background-color: #ffffff;
	color: #306685;
	text-decoration: none;
}

.fond_ajout_projet input[type=file] {
	left: 0;
	top: 250;
	display:none;
	position: absolute;
	font-size: 90px;
}

.fond_ajout_projet p {
	font-size: 11px;
}



#btn_valider_image {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	margin: 2em;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	margin-top: 20px;
	margin-bottom: 10px;
}


.form img{
	height: 190px;
}

#figure {
	
	box-sizing:content-box;
	height: 190px;
	margin: 0px;
}

.preview_image{
	height: 190px;

}

#selected_image{
	padding: 0px;
	margin: 0px;
}

#selected_image img {
 height: 190px;
 width: auto;
 padding: 0px;
 margin: 0px;
}

.modal.gallery .modal_gallery{
	display: flex;

}

.modal.work .modal_gallery{
	display: none;
}


.modal.gallery .modal_add_work{
	display: none;
}

.modal.work .modal_add_work{
	display: flex;
}

